@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);











body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #426087 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #426087;
  border-color: #426087;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #293b54;
  border-color: #293b54;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #293b54 !important;
  border-color: #293b54 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #212f42;
  color: #212f42;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #426087;
  border-color: #426087;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #426087 !important;
  border-color: #426087 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #426087 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #426087;
}
.btn-social:hover {
  background: #426087;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #426087;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #426087;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #426087;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #426087;
}
.lead a,
.lead a:hover {
  color: #426087;
}
.lead blockquote {
  border-color: #426087;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #85a0c3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #426087;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 24px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-0 .link {
  font-size: 1.05rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #426087;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #426087;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #426087!important;
}
#menu-0 .btn {
  font-size: 15px;
}
#slider-1 H2 {
  text-align: left;
}
#slider-1 P {
  text-align: left;
}
#header3-4 .mbr-section-title,
#header3-4 .mbr-section-subtitle {
  text-align: center;
}
#header3-4 H3 {
  font-family: 'Lora', serif;
}
#features3-2 P {
  text-align: left;
}
#features3-k P {
  text-align: left;
}
#msg-box8-6 .mbr-section-title,
#msg-box8-6 p {
  color: #fff;
}
#msg-box8-6 .mbr-section-title {
  text-align: center;
}
#header3-5 .mbr-section-title,
#header3-5 .mbr-section-subtitle {
  text-align: center;
}
#header3-5 H3 {
  text-align: right;
  font-family: 'Lora', serif;
}
#features3-3 P {
  text-align: left;
}
#header3-i .mbr-section-title,
#header3-i .mbr-section-subtitle {
  text-align: center;
}
#header3-i H3 {
  font-family: 'Lora', serif;
}
#msg-box8-9 .mbr-section-title,
#msg-box8-9 p {
  color: #fff;
}
#social-buttons4-j .mbr-section-title,
#social-buttons4-j .btn-social {
  color: #fff;
}
#social-buttons4-j .mbr-section-title {
  font-family: 'Lora', serif;
  font-size: 46px;
}
#contacts3-c LI {
  color: #ffffff;
}
#contacts3-c SPAN {
  color: #ffffff;
}
#contacts3-c .btn {
  font-family: 'Montserrat', sans-serif;
}
#footer1-h P {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-align: right;
}
#form1-g .form-control-label {
  color: #232323;
}

@media(min-width:768px){
  .video-player {
    border: 1px solid #DBB51E;
    padding-left:0;
    padding-right:0;
  }

  .fontStartServices {
    font-family: 'Spectral SC', serif;
    font-size: 40pt;
    color: white !important;
    text-align: center !important;
  }

  .fontContacts {
    font-family: 'Spectral SC', serif;
    font-size: 40pt;
    color: white !important;
    top: 190px;
    left: -2px;
    position: relative;
  }

  .fontDocuments {
    font-family: 'Spectral SC', serif;
    font-size: 40pt;
    color: white !important;
    text-align: center !important;
  }

	.fontCarousel {
    font-family: 'Spectral SC', serif;
    font-size: 45pt;
    color: white !important;
	}

	.fontCarousel2 {
    font-family: 'Spectral SC', serif;
    font-size: 35pt;
    color: white !important;
  }
  
  .fontCarousel3 {
    font-family: 'Spectral SC', serif;
    font-size: 35pt;
    color: white !important;
	}

	.fontCarouselBig {
    font-family: 'Spectral SC', serif;
    font-size: 50pt;
    color: white !important;
	}

	.slogan h1{
		font-size:50px;
		margin-bottom:25px;
  }
  
  .section-start-image-services {
    background: url('../../../assets/images/services-navbar.jpg') no-repeat center center; 
    height: 400px; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* padding-top: 100px; */

    /* height: 400px;  */
    padding: 0px !important;
    line-height: 400px;
  }

  .section-start-image {
    /* height: 400px; 
    padding: 0px !important;
    line-height: 400px;
    width: 140% !important; */

    background: url('../../../assets/images/bg4.jpg') no-repeat center center; 
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .section-start-image-doc {
    background: url('../../../assets/images/documents.jpg') no-repeat center center; 
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px !important;
    line-height: 400px;
  }

  .hidden-md {
    display: none;
  }
}

.btn-border {
  border: solid 1px white;
}

.hideAll {
  display: none !important;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.section-map {
	height:500px; 
	padding: 0;
}

.card-text {
  padding-left: 30px;
}

.btn-border-dark {
  border: 1px solid #999b9c;
}

.mbr-overlay2 {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; 
  height: 550px;
}

.map-frame {
  display: block;
  position: absolute;
  top: 200px;
  right: 80px;
  width: 250px;
  height: 200px;
  padding: 15px;
  background: #fff;
  border: 3px #B2190E solid;
  border-radius: 5px;
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.14);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}

.block-contacts {
  display:flex;
  align-items:center;
}

.section-gray {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}

.developer {
	font-size: 12.5px;
	color: rgba(255, 255, 255, 0.45);
}

.developer a {
	font-family: 'Acme', sans-serif;
	font-size: 14.5px;
	color: rgba(16, 110, 204, 0.74) !important;
}

.call-back-btn {
  position: fixed;
  right: 50px;
  bottom: 70px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  opacity: 0.5;
  z-index: 99990;
}

/* Water animation */
.profilepicture {
  position: absolute; 
  width: 80px;
  height: 80px;
  background-image: url('assets/images/phone.png');
  /* background-color: #155fc7; */
  background-size: 60px 60px;
  margin: auto; 
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 3;

  -webkit-box-shadow: 
    0 0 0 10px  rgba(255,255,255,.2),
    0 0 5px 2px rgba(0,0,0,.3),
inset 0 0 0 10px  rgba(0,0,255,.2);
  -moz-box-shadow: 
    0 0 0 10px  rgba(255,255,255,.2),
    0 0 5px 2px rgba(0,0,0,.3),
inset 0 0 0 10px  rgba(0,0,255,.2);
  box-shadow: 
    0 0 0 10px  rgba(255,255,255,.2),
    0 0 5px 2px rgba(0,0,0,.3),
inset 0 0 0 10px  rgba(0,0,255,.2);

  -webkit-border-radius: 999px; 
  -moz-border-radius: 999px;
  border-radius: 999px;
  /* border-radius: 50% has issues on some mobile browsers */
}

.profilepicture:hover {
  -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1.15);
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1.15);   
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1.15);
    transition: all 300ms ease-in;
    transform: scale(1.15);
}

.pulse1 {
  position: absolute;  
  width: 120px;
  height: 120px;
  margin: auto; 
  top: 0; left: -20px; bottom: 0; right: 0;
  z-index: 1;
  opacity: 0;
  border: 3px solid rgba(255,255,255,.1);

  -webkit-animation: pulsejg1 3s linear infinite;
  -moz-animation: pulsejg1 3s linear infinite;
  animation: pulsejg1 3s linear infinite;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  -webkit-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
  -moz-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
  box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pulse2 {
  position: absolute;
  width: 120px;
  height: 120px;
  margin: auto; 
  top: 0; left: -20px; bottom: 0; right: 0;
  z-index: 2;
  opacity: 0;
  border: 1px solid rgba(255,255,255,0);

  -webkit-animation: pulsejg2 3s linear infinite;
  -moz-animation: pulsejg2 3s linear infinite;
  animation: pulsejg2 3s linear infinite;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  -webkit-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
  -moz-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
  box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes pulsejg1 {
  0% {
      -webkit-transform: scale(.6);
      opacity: 0;
  }

  50% {
      -webkit-transform: scale(.6);
      opacity: 0;
  }

  60% {
      -webkit-transform: scale(.9);
      opacity: .2;
  }

  70% {
      -webkit-transform: scale(1.1);
      opacity: .35;
  }

  80% {
      -webkit-transform: scale(1.25);
      opacity: .2;
  }

  100% {
      -webkit-transform: scale(1.4);
      opacity: 0;
  }
}

@-moz-keyframes pulsejg1 {
  0% {
      -moz-transform: scale(.6);
      opacity: 0;
  }

  50% {
      -moz-transform: scale(.6);
      opacity: 0;
  }

  60% {
      -moz-transform: scale(.9);
      opacity: .2;
  }

  70% {
      -moz-transform: scale(1.1);
      opacity: .35;
  }

  80% {
      -moz-transform: scale(1.25);
      opacity: .2;
  }

  100% {
      -moz-transform: scale(1.4);
      opacity: 0;
  }
}

@keyframes pulsejg1 {
  0% {
      transform: scale(.6);
      opacity: 0;
  }

  50% {
      transform: scale(.6);
      opacity: 0;
  }

  60% {
      transform: scale(.9);
      opacity: .1;
  }

  70% {
      transform: scale(1.1);
      opacity: .25;
  }

  80% {
      transform: scale(1.25);
      opacity: .1;
  }

  100% {
      transform: scale(1.4);
      opacity: 0;
  }
}

@-webkit-keyframes pulsejg2 {
  0% {
      -webkit-transform: scale(.6);
      opacity: 0;
  }

  40% {
      -webkit-transform: scale(.8);
      opacity: .05;
  }

  50% {
      -webkit-transform: scale(1);
      opacity: .1;
  }

  60% {
      -webkit-transform: scale(1.1);
      opacity: .3;
  }

  80% {
      -webkit-transform: scale(1.2);
      opacity: .1;
  }

  100% {
      -webkit-transform: scale(1.3);
      opacity: 0;
  }
}

@-moz-keyframes pulsejg2 {
  0% {
      -moz-transform: scale(.6);
      opacity: 0;
  }

  40% {
      -moz-transform: scale(.8);
      opacity: .05;
  }

  50% {
      -moz-transform: scale(1);
      opacity: .1;
  }

  60% {
      -moz-transform: scale(1.1);
      opacity: .3;
  }

  80% {
      -moz-transform: scale(1.2);
      opacity: .1;
  }

  100% {
      -moz-transform: scale(1.3);
      opacity: 0;
  }
}

@keyframes pulsejg2 {
  0% {
      transform: scale(.6);
      opacity: 0;
  }

  40% {
      transform: scale(.8);
      opacity: .05;
  }

  50% {
      transform: scale(1);
      opacity: .1;
  }

  60% {
      transform: scale(1.1);
      opacity: .3;
  }

  80% {
      transform: scale(1.2);
      opacity: .1;
  }

  100% {
      transform: scale(1.3);
      opacity: 0;
  }
}

.services-text {
  font-size: 19pt;
}

.services-box {
  border: solid 2px rgb(165, 199, 254);
  padding-left: 50px;
  padding-right: 30px;
  background-color: white;
}

@media(max-width: 768px) {
  .video-player {
    border-top: none;
    border-top: 1px solid #DBB51E;
    border-bottom: 1px solid #DBB51E;
    padding-left:0;
    padding-right:0;
    padding-top:5px;
  }

  .section-start-image {
    background: url('../../../assets/images/bg4-mobile.jpg') no-repeat center center; 
    height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .section-start-image-services {
    background: url('../../../assets/images/services-navbar-mobile.jpg') no-repeat center center; 
    height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    
    /* height: 250px; 
    line-height: none;
    padding-top: 100px; */
  }

  .section-start-image-doc {
    background: url('../../../assets/images/documents.jpg') no-repeat center center; 
    height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px !important;
    line-height: 250px;
  }

  .fontContacts {
    font-family: 'Spectral SC', serif;
    font-size: 30px;
    color: white !important;
    text-align: center;
    position: relative;
    padding-top: 110px;
  }

  .fontCarousel {
    font-family: 'Spectral SC', serif;
    font-size: 20pt;
    color: white !important;
  }
  
  .fontStartServices {
    font-family: 'Spectral SC', serif;
    font-size: 30px;
    color: white !important;
    text-align: center !important;
  }
  
  .fontCarousel2 {
    font-family: 'Spectral SC', serif;
    font-size: 16pt;
    color: white !important;
  }
  
  .fontCarousel3 {
    font-family: 'Spectral SC', serif;
    font-size: 16pt;
    color: white !important;
  }
  
  .fontCarouselBig {
    font-family: 'Spectral SC', serif;
    font-size: 35pt;
    color: white !important;
  }

  .hidden-xs {
    display: none;
  }

  .call-back-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    opacity: 0.5;
    z-index: 99990;
  }

  .btn-call {
    padding-left: 7px !important;
    padding-right: 7px !important;
  }
}

.border-left-doc {
  border-left: 6px solid #4b8df7 !important;
  padding-left: 20px;
  /* margin-left: 40px; */
}

hr.double {
  height: 1px;
  border: 1px solid #999;
  max-width: 12.5%;
  opacity: 0.6;
}

li.doc-list a {
  color: rgb(35, 35, 35) !important;
  text-decoration: underline;
}

.phone-link {
  color: #4b8df7 !important;  
  text-decoration: underline;
  font-weight: bold;
}

.phone-link:hover {
  color: #4b8df7 !important;
  text-decoration: underline;
  font-weight: 900;
}

.zoom-callback {
  transition: transform .2s; /* Animation */
}

.zoom-callback:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  cursor: pointer;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.call-back-a {
  color: #4b8df7 !important;
  font-weight: bold;
  text-decoration: none;
}

.call-back-a:hover {
  color: #4b8df7 !important;
  font-weight: 750;
  text-decoration: none;
  cursor: pointer;
}